{
    "env": {
        "es6": true
    },
    "ecmaFeatures": {
        "modules": true,
        "jsx": true
    },
    "rules": {
        "brace-style": [2, "1tbs", { "allowSingleLine": true }],
        "comma-style": [2, "last"],
        "indent": [2, 4, { "indentSwitchCase": true }],
        "no-constant-condition": 2,
        "semi": [2, "always"],
        "space-after-keywords": [2, "always"],
        "space-before-blocks": [2, "always"],
        "global-strict": [2, "never"],
        "quotes": [2, "single"],
        "react/self-closing-comp": 1,
        "react/no-did-mount-set-state": 1,
        "react/no-did-update-set-state": 1,
        "react/jsx-uses-react": 1,
        "react/jsx-uses-vars": 1,
        "react/react-in-jsx-scope": 1
    },
    "plugins": [
        "react"
    ],
    "globals": {
        "require": false,
        "module": false,
        "window": false,
        "document": false
    }
}
